.header {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 700px) {
    max-width: 320px;
  }
}

.navigation {
  font-size: 18px;
  text-transform: capitalize;

  @media (max-width: 700px) {
    display: none;
  }
}

.navigation__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.navigation__item {}

.navigation__content {}

.navigation__link {
  color: #828282;

  :hover {
    color: #070707;
    transition-delay: .05s;
  }

  @media (max-width: 700px) {}
}

.navigation__line {
  color: #828282;

  @media (max-width: 700px) {
    display: none;
  }
}

.mobile-elements__mobile-elements {
}

.mobile-elements__wrapper-burger {
  z-index: 2;
  position: absolute;
  width: 41px;
  height: 27px;

  @media (min-width: 320px) and (max-width: 700px) {
    top: 76px;
    left: 312px;
  }
}

.mobile-elements__burger {
  width: 33px;
  height: 3.33px;
  background-color: #000000;
  margin: 3.8px 3px;

  @media (min-width: 700px) {
    display: none;
  }
}

.mobile-elements__burger-up {
}

.mobile-elements__pop-up {
  border: 1px solid black;
  position: fixed;
  z-index: 1;
  display: none;
  width: 100vh;
  height: 100vh;
  max-width: 375px;
  max-height: 812px;
  background-color: #ffffff;
}

.mobile-elements__list {
  list-style: none;
}

.mobile-elements__link {
  font-size: 34px;
  line-height: 42px;
  text-transform: capitalize;
  color: #828282;

  :hover {
    color: black;
  }
}

.mobile-elements__lang {
  position: absolute;
  top: 80%;
  left: 61%;
  transform: rotate(90deg);
  font-size: 34px;
  line-height: 42px;
}
